<body>
    <main>
        <div class="module-title font-alt mb-0" style="background-color: beige">
            Welcome GooG
        </div>
        <div class="main">
            <section class="module" id="services">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Our Services</h2>
                            <div class="module-subtitle font-serif">
                                Some Services
                            </div>
                        </div>
                    </div>
                    <div class="row multi-columns-row">
                        <div
                            class="col-md-3 col-sm-6 col-xs-12"
                            *ngFor="let item of listService"
                        >
                            <div class="features-item">
                                <div class="features-icon">
                                    <span class="icon-lightbulb"></span>
                                </div>
                                <h3 class="features-title font-alt">
                                    {{ item.name }}
                                </h3>
                                <p>
                                    {{ item.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="module pb-0" id="works">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Our Works</h2>
                            <div class="module-subtitle font-serif"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="filter font-alt" id="filters">
                                <li>
                                    <a
                                        class="current wow fadeInUp"
                                        href="#"
                                        data-filter="*"
                                        >All</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="wow fadeInUp"
                                        href="#"
                                        data-wow-delay="0.2s"
                                        >Sale</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="wow fadeInUp"
                                        href="#"
                                        data-wow-delay="0.4s"
                                        >Marketing</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="wow fadeInUp"
                                        href="#"
                                        data-wow-delay="0.6s"
                                        >Products</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="wow fadeInUp"
                                        href="#"
                                        data-wow-delay="0.6s"
                                        >Web Design</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul
                    class="works-grid works-grid-gut works-grid-3 works-hover-w"
                    id="works-grid"
                >
                    <li class="work-item illustration webdesign">
                        <a href="portfolio-single-1.html">
                            <div class="work-image">
                                <img
                                    src="assets/images/work-1.jpg"
                                    alt="Portfolio Item"
                                />
                            </div>
                            <div class="work-caption font-alt">
                                <h3 class="work-title">Corporate Identity</h3>
                                <div class="work-descr">Illustration</div>
                            </div>
                        </a>
                    </li>
                    <li class="work-item marketing photography">
                        <a href="portfolio-single-1.html">
                            <div class="work-image">
                                <img
                                    src="assets/images/work-2.jpg"
                                    alt="Portfolio Item"
                                />
                            </div>
                            <div class="work-caption font-alt">
                                <h3 class="work-title">Bag MockUp</h3>
                                <div class="work-descr">Marketing</div>
                            </div>
                        </a>
                    </li>
                    <li class="work-item illustration photography">
                        <a href="portfolio-single-1.html">
                            <div class="work-image">
                                <img
                                    src="assets/images/work-3.jpg"
                                    alt="Portfolio Item"
                                />
                            </div>
                            <div class="work-caption font-alt">
                                <h3 class="work-title">Disk Cover</h3>
                                <div class="work-descr">Illustration</div>
                            </div>
                        </a>
                    </li>
                    <li class="work-item marketing photography">
                        <a href="portfolio-single-1.html">
                            <div class="work-image">
                                <img
                                    src="assets/images/work-4.jpg"
                                    alt="Portfolio Item"
                                />
                            </div>
                            <div class="work-caption font-alt">
                                <h3 class="work-title">Business Card</h3>
                                <div class="work-descr">Photography</div>
                            </div>
                        </a>
                    </li>
                    <li class="work-item illustration webdesign">
                        <a href="portfolio-single-1.html">
                            <div class="work-image">
                                <img
                                    src="assets/images/work-5.jpg"
                                    alt="Portfolio Item"
                                />
                            </div>
                            <div class="work-caption font-alt">
                                <h3 class="work-title">Business Card</h3>
                                <div class="work-descr">Webdesign</div>
                            </div>
                        </a>
                    </li>
                    <li class="work-item marketing webdesign">
                        <a href="portfolio-single-1.html">
                            <div class="work-image">
                                <img
                                    src="assets/images/work-6.jpg"
                                    alt="Portfolio Item"
                                />
                            </div>
                            <div class="work-caption font-alt">
                                <h3 class="work-title">
                                    Business Cards in paper clip
                                </h3>
                                <div class="work-descr">Marketing</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- <section class="module-small bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                            <div class="callout-text font-alt">
                                <h3 class="callout-title">
                                    Want to see more works?
                                </h3>
                                <p>
                                    We are always open to interesting projects.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div class="callout-btn-box">
                                <a
                                    class="btn btn-w btn-round"
                                    href="portfolio_boxed_gutter_col_3.html"
                                    >Lets view portfolio</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <section class="module" id="alt-features">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Our features</h2>
                            <div class="module-subtitle font-serif">
                                Some features
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div
                                class="alt-features-item"
                                *ngFor="let item of listFeature1"
                            >
                                <div class="alt-features-icon">
                                    <span class="icon-strategy"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">
                                    {{ item.name }}
                                </h3>
                                {{ item.content }}
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                            <div class="alt-services-image align-center">
                                <img
                                    src="assets/images/promo.png"
                                    alt="Feature Image"
                                />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div
                                class="alt-features-item"
                                *ngFor="let item of listFeature2"
                            >
                                <div class="alt-features-icon">
                                    <span class="icon-camera"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">
                                    {{ item.name }}
                                </h3>
                                {{ item.content }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="divider-w" />
            <section
                class="module bg-dark-60"
                data-background="assets/images/section-3.jpg"
            >
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Scoreboard</h2>
                            <div class="module-subtitle font-serif"></div>
                        </div>
                    </div>
                    <div class="row multi-columns-row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="count-item mb-sm-40">
                                <div class="count-icon">
                                    <span class="icon-wallet"></span>
                                </div>
                                <h3
                                    class="count-to font-alt"
                                    data-countto="6543"
                                ></h3>
                                <h5 class="count-title font-serif">
                                    Dollars raised for charity
                                </h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="count-item mb-sm-40">
                                <div class="count-icon">
                                    <span class="icon-wine"></span>
                                </div>
                                <h3
                                    class="count-to font-alt"
                                    data-countto="8"
                                ></h3>
                                <h5 class="count-title font-serif">
                                    Cups of wine consumed
                                </h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="count-item mb-sm-40">
                                <div class="count-icon">
                                    <span class="icon-camera"></span>
                                </div>
                                <h3
                                    class="count-to font-alt"
                                    data-countto="184"
                                ></h3>
                                <h5 class="count-title font-serif">
                                    Photographs taken
                                </h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="count-item mb-sm-40">
                                <div class="count-icon">
                                    <span class="icon-map-pin"></span>
                                </div>
                                <h3
                                    class="count-to font-alt"
                                    data-countto="32"
                                ></h3>
                                <h5 class="count-title font-serif">
                                    Locations covered
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="module" id="pricing">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Our Prices</h2>
                            <div class="module-subtitle font-serif">
                                Wishing to bring good quality products at
                                affordable prices to all consumers
                            </div>
                        </div>
                    </div>
                    <div class="row multi-columns-row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="price-table font-alt">
                                <h4>Light</h4>
                                <div class="borderline"></div>
                                <p class="price"><span>$</span>1</p>
                                <ul class="price-details">
                                    <li>Free Support</li>
                                    <li>15 Demos Included</li>
                                    <li><span>Newsletter</span></li>
                                    <li><span>Working Contact Form</span></li>
                                    <li><span>Unlimited Domains</span></li>
                                </ul>
                                <a class="btn btn-d btn-round" href="#"
                                    >Sign Up</a
                                >
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="price-table font-alt">
                                <h4>Basic</h4>
                                <div class="borderline"></div>
                                <p class="price"><span>$</span>10</p>
                                <ul class="price-details">
                                    <li>Free Support</li>
                                    <li>15 Demos Included</li>
                                    <li>Newsletter</li>
                                    <li><span>Working Contact Form</span></li>
                                    <li><span>Unlimited Domains</span></li>
                                </ul>
                                <a class="btn btn-d btn-round" href="#"
                                    >Sign Up</a
                                >
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="price-table font-alt best">
                                <h4>Advanced</h4>
                                <p class="small">Best Choice</p>
                                <div class="borderline"></div>
                                <p class="price"><span>$</span>20</p>
                                <ul class="price-details">
                                    <li>Free Support</li>
                                    <li>15 Demos Included</li>
                                    <li>Newsletter</li>
                                    <li>Working Contact Form</li>
                                    <li><span>Unlimited Domains</span></li>
                                </ul>
                                <a class="btn btn-d btn-round" href="#"
                                    >Sign Up</a
                                >
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="price-table font-alt">
                                <h4>Ultimate</h4>
                                <div class="borderline"></div>
                                <p class="price"><span>$</span>50</p>
                                <ul class="price-details">
                                    <li>Free Support</li>
                                    <li>15 Demos Included</li>
                                    <li>Newsletter</li>
                                    <li>Working Contact Form</li>
                                    <li>Unlimited Domains</li>
                                </ul>
                                <a class="btn btn-d btn-round" href="#"
                                    >Sign Up</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial"
                data-background="assets/images/testimonial_bg.jpg"
            ></section>
            <section class="module" id="news">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">
                                Latest blog posts
                            </h2>
                        </div>
                    </div>
                    <div class="row multi-columns-row d-flex post-columns">
                        <div
                            class="col-sm-6 col-md-4 col-lg-4"
                            *ngFor="let post of postDetail"
                        >
                            <div class="post mb-20">
                                <div class="post-thumbnail">
                                    <a href="#"
                                        ><img
                                            src="{{ post.image }}"
                                            alt="Blog-post Thumbnail"
                                    /></a>
                                </div>
                                <div class="post-header font-alt">
                                    <h2 class="post-title">
                                        <a href="#">{{ post.title }}</a>
                                    </h2>
                                    <div class="post-meta">
                                        By&nbsp;<a href="#">{{ post.author }}</a
                                        >&nbsp;| {{ post.createdAt }} |
                                        {{ post.countComment }} Comments
                                    </div>
                                </div>
                                <div class="post-entry">
                                    <p>{{ post.content }}</p>
                                </div>
                                <div class="post-more">
                                    <a class="more-link" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="module-small bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                            <div class="callout-text font-alt">
                                <h3 class="callout-title">Subscribe now</h3>
                                <p>We will not spam your email.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="callout-btn-box">
                                <form
                                    id="subscription-form"
                                    role="form"
                                    method=""
                                    action=""
                                >
                                    <div class="input-group">
                                        <input
                                            class="form-control"
                                            type="email"
                                            id="semail"
                                            name="semail"
                                            placeholder="Your Email"
                                            data-validation-required-message="Please enter your email address."
                                            required="required"
                                        /><span class="input-group-btn">
                                            <button
                                                class="btn btn-g btn-round"
                                                id="subscription-form-submit"
                                                type="submit"
                                            >
                                                Submit
                                            </button></span
                                        >
                                    </div>
                                </form>
                                <div
                                    class="text-center"
                                    id="subscription-response"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="module" id="contact">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Get in touch</h2>
                            <div class="module-subtitle font-serif"></div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            <form
                                id="contactForm"
                                role="form"
                                method="post"
                                action="php/contact.php"
                            >
                                <div class="form-group">
                                    <label class="sr-only" for="name"
                                        >Name</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        id="name"
                                        name="name"
                                        placeholder="Your Name*"
                                        required="required"
                                        data-validation-required-message="Please enter your name."
                                    />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="email"
                                        >Email</label
                                    >
                                    <input
                                        class="form-control"
                                        type="email"
                                        id="email"
                                        name="email"
                                        placeholder="Your Email*"
                                        required="required"
                                        data-validation-required-message="Please enter your email address."
                                    />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <textarea
                                        class="form-control"
                                        rows="7"
                                        id="message"
                                        name="message"
                                        placeholder="Your Message*"
                                        required="required"
                                        data-validation-required-message="Please enter your message."
                                    ></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="text-center">
                                    <button
                                        class="btn btn-block btn-round btn-d"
                                        id="cfsubmit"
                                        type="submit"
                                    >
                                        Submit
                                    </button>
                                </div>
                            </form>
                            <div
                                class="ajax-response font-alt"
                                id="contactFormResponse"
                            ></div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="map-section" class="text-center mb-5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.3935965828696!2d105.77213921547957!3d21.016931593556706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313500d33fffffff%3A0x620a563a29006e61!2zQ2h1bmcgQ8awIFRoZSBFbWVyYWxkIC0gQ1Q4IE3hu7kgxJDDrG5o!5e0!3m2!1svi!2s!4v1652801006078!5m2!1svi!2s"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
            </section>
            <div class="module-small bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="widget">
                                <h5 class="widget-title font-alt">
                                    About GooG
                                </h5>
                                <p>{{ infoContact.content }}</p>
                                <p>Phone: {{ infoContact.phoneNumber }}</p>
                                Fax: {{ infoContact.taxNumber }}
                                <p>
                                    Email:
                                    <a href="#">{{ infoContact.email }}</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="widget">
                                <h5 class="widget-title font-alt">
                                    Blog Categories
                                </h5>
                                <ul class="icon-list">
                                    <li *ngFor="let blog of blogCategories">
                                        <a href="#"
                                            >{{ blog.name }} -
                                            {{ blog.count }}</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget">
                                <h5 class="widget-title font-alt">
                                    Popular Posts
                                </h5>
                                <ul class="widget-posts">
                                    <li
                                        class="clearfix"
                                        *ngFor="let card of widgetPosts"
                                    >
                                        <div class="widget-posts-image">
                                            <a href="#"
                                                ><img
                                                    src="{{ card.image }}"
                                                    alt="Post Thumbnail"
                                            /></a>
                                        </div>
                                        <div class="widget-posts-body">
                                            <div class="widget-posts-title">
                                                <a href="#">{{
                                                    card.content
                                                }}</a>
                                            </div>
                                            <div class="widget-posts-meta">
                                                {{ card.createdAt }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider-d" />
            <footer class="footer bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright font-alt">
                                &copy; 2022&nbsp;<a href="index.html"></a>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a
                                ><a href="#"><i class="fa fa-twitter"></i></a
                                ><a href="#"><i class="fa fa-dribbble"></i></a
                                ><a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="scroll-up">
            <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
        </div>
        <script
            async=""
            defer=""
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK2Axt8xiFYMBMDwwG1XzBQvEbYpzCvFU"
        ></script>
    </main>
</body>
